.header {
    text-align: center;
    border-bottom: 1px;
    padding-bottom: 1px;
    border-top: 0px;
    margin-top: 30px;
    padding-top: 0px;
    h1 {
        font-family: fantasy, sans-serif;
        color: black;
        font-size: 50pt;
        border-bottom: 1px;
        margin-bottom: 1px;
        padding-bottom: 1px;
        
    }
}